.userlistElement {
	padding: 0px;
	margins: 0px;
}

#pnlMain {
    white-space: nowrap;
}

#pnlMain>div {
	display: inline-block;
	overflow: auto;
	border: 1px solid black;
	height: 25em;
}

#pnlChatHistory {
	width: 25em;
}

#pnlUserList {
	width: 10em;
}